.reservation {
    background: url('https://images.unsplash.com/photo-1589314948797-74be41e34075?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2987&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    overflow: scroll;
    height: 100vh;
}

main{
    padding:0 30px;
    margin:auto;
    max-width:1440px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    height: 80%;
    min-height: 640px;
}

form{
    width: 30%;
    align-self: center;
}

form input {
    border: 1px solid #000;
}

.information input {
    padding:5px 20px;
    width:100%;
}
fieldset{
    border:none;
    border-bottom:1px dashed gray;
    margin:15px 0;
    padding-bottom: 15px;
}
legend{
    border-left:4px solid gray;
    font-size:20px;
    padding-left:8px;
    margin:0;
}


.button-submit{ 
    clear:both;  
}

button {
    font-size:18px;
    color:white;
    background-color: black;
    border:none;
    padding:10px 15px;
    border-radius: 5px;
    float:right;
}

button:focus{
    outline:none;
    background-color:black;
}